*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-local-config.php
wp-test-config.php
wp-live-config.php

ogdch.dev/content/advanced-cache.php
ogdch.dev/content/backup-db/
ogdch.dev/content/backups/
ogdch.dev/content/blogs.dir/
ogdch.dev/content/cache/
ogdch.dev/content/upgrade/
ogdch.dev/content/uploads/**
ogdch.dev/content/wp-cache-config.php
ogdch.dev/content/themes/twentyfifteen/

.vagrant
/html
.idea/
.DS_Store
ckanext/
vendor/
composer.phar
node_modules/
