*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-local-config.php
wp-test-config.php
wp-live-config.php

content/advanced-cache.php
content/backup-db/
content/backups/
content/blogs.dir/
content/cache/
content/upgrade/
content/uploads/
content/wp-cache-config.php
content/themes/twentyfifteen/
.vagrant
html
.idea/
.DS_Store