[submodule "ogdch.dev/cms"]
	path = web/ogdch.dev/cms
	url = https://github.com/WordPress/WordPress.git
[submodule "ogdch.dev/content/mu-plugins/wp-ckan-backend"]
	path = web/ogdch.dev/content/plugins/wp-ckan-backend
	url = git@gitlab.liip.ch:jazz/wp-ckan-backend.git
[submodule "ogdch.dev/content/themes/wp-ogdch-theme"]
	path = web/ogdch.dev/content/themes/wp-ogdch-theme
	url = git@gitlab.liip.ch:jazz/wp-ogdch-theme.git
[submodule "ckan"]
	path = web/ckan
	url = https://github.com/ckan/ckan.git
[submodule "ckanext/ckanext-harvest"]
	path = web/ckanext/ckanext-harvest
	url = https://github.com/ckan/ckanext-harvest.git
[submodule "ckanext/ckanext-fluent"]
	path = web/ckanext/ckanext-fluent
	url = https://github.com/open-data/ckanext-fluent.git
[submodule "ckanext/ckanext-scheming"]
	path = web/ckanext/ckanext-scheming
	url = https://github.com/open-data/ckanext-scheming.git
[submodule "ckanext/ckanext-hierarchy"]
	path = web/ckanext/ckanext-hierarchy
	url = https://github.com/datagovuk/ckanext-hierarchy.git
[submodule "ckanext/ckanext-dcat"]
	path = web/ckanext/ckanext-dcat
	url = https://github.com/ckan/ckanext-dcat.git
[submodule "web/ckanext/ckanext-switzerland"]
	path = web/ckanext/ckanext-switzerland
	url = https://github.com/ogdch/ckanext-switzerland.git
[submodule "web/ogdch.dev/content/plugins/wp-app-showcase"]
	path = web/ogdch.dev/content/plugins/wp-app-showcase
	url = git@gitlab.liip.ch:jazz/wp-app-showcase.git
[submodule "web/ckanext/ckanext-geocat"]
	path = web/ckanext/ckanext-geocat
	url = https://github.com/ogdch/ckanext-geocat.git
[submodule "web/ogdch.dev/content/plugins/cmb2"]
	path = web/ogdch.dev/content/plugins/cmb2
	url = git@github.com:WebDevStudios/CMB2.git
[submodule "web/ogdch.dev/content/plugins/bootstrap-ninja-forms"]
	path = web/ogdch.dev/content/plugins/bootstrap-ninja-forms
	url = git@github.com:bostondv/bootstrap-ninja-forms.git
[submodule "web/ogdch.dev/content/plugins/members"]
	path = web/ogdch.dev/content/plugins/members
	url = git@github.com:justintadlock/members.git
[submodule "web/ogdch.dev/content/plugins/ninja-forms"]
	path = web/ogdch.dev/content/plugins/ninja-forms
	url = git@github.com:wpninjas/ninja-forms.git
