[submodule "ogdch.dev/cms"]
	path = web/ogdch.dev/cms
	url = https://github.com/WordPress/WordPress.git
[submodule "ogdch.dev/content/themes/wp-ogdch-theme"]
	path = web/ogdch.dev/content/themes/wp-ogdch-theme
	url = git@gitlab.liip.ch:jazz/wp-ogdch-theme.git
[submodule "ckan"]
	path = web/ckan
	url = https://github.com/ckan/ckan.git
[submodule "ckanext/ckanext-harvest"]
	path = web/ckanext/ckanext-harvest
	url = https://github.com/ckan/ckanext-harvest.git
[submodule "ckanext/ckanext-fluent"]
	path = web/ckanext/ckanext-fluent
	url = https://github.com/open-data/ckanext-fluent.git
[submodule "ckanext/ckanext-scheming"]
	path = web/ckanext/ckanext-scheming
	url = https://github.com/ogdch/ckanext-scheming.git
[submodule "ckanext/ckanext-hierarchy"]
	path = web/ckanext/ckanext-hierarchy
	url = https://github.com/datagovuk/ckanext-hierarchy.git
[submodule "ckanext/ckanext-dcat"]
	path = web/ckanext/ckanext-dcat
	url = https://github.com/ckan/ckanext-dcat.git
[submodule "web/ckanext/ckanext-switzerland"]
	path = web/ckanext/ckanext-switzerland
	url = git@gitlab.liip.ch:odp_oev_schweiz/ckanext-switzerland.git
[submodule "web/ckanext/ckanext-geocat"]
	path = web/ckanext/ckanext-geocat
	url = https://github.com/ogdch/ckanext-geocat.git
[submodule "web/ogdch.dev/content/plugins/cmb2"]
	path = web/ogdch.dev/content/plugins/cmb2
	url = https://github.com/WebDevStudios/CMB2.git
[submodule "web/ogdch.dev/content/plugins/bootstrap-ninja-forms"]
	path = web/ogdch.dev/content/plugins/bootstrap-ninja-forms
	url = https://github.com/bostondv/bootstrap-ninja-forms.git
[submodule "web/ogdch.dev/content/plugins/members"]
	path = web/ogdch.dev/content/plugins/members
	url = https://github.com/justintadlock/members.git
[submodule "web/ogdch.dev/content/plugins/ninja-forms"]
	path = web/ogdch.dev/content/plugins/ninja-forms
	url = https://github.com/wpninjas/ninja-forms.git
[submodule "web/ckanext/ckanext-discourse"]
	path = web/ckanext/ckanext-discourse
	url = https://github.com/ontodia/ckanext-discourse
[submodule "web/ogdch.dev/content/plugins/wp-discourse"]
	path = web/ogdch.dev/content/plugins/wp-discourse
	url = https://github.com/discourse/wp-discourse.git
[submodule "web/ckanext/ckanext-oauth2"]
	path = web/ckanext/ckanext-oauth2
	url = https://github.com/conwetlab/ckanext-oauth2.git
[submodule "web/ckanext/reclineviewsbb"]
	path = web/ckanext/reclineviewsbb
	url = git@gitlab.liip.ch:odp_oev_schweiz/reclineview-sbb.git
