[Unit]
Description=CKAN Harvester Gather Consumer
After=network.target auditd.service
# ConditionPathExists=/home/liipadmin/pyenv/bin/paster

[Service]
ExecStart=/bin/su -c '/home/vagrant/pyenv/bin/paster --plugin=ckanext-harvest harvester gather_consumer -c /var/www/ckan/development.ini' vagrant
ExecReload=/bin/kill -HUP $MAINPID
Environment=LANG=en_US.UTF-8
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
