[Unit]
Description=CKAN Harvester Fetch Consumer
After=network.target auditd.service
ConditionPathExists=/home/liipadmin/pyenv/bin/paster

[Service]
ExecStart=su -c '/home/liipadmin/pyenv/bin/paster --plugin=ckanext-harvest harvester fetch_consumer -c /var/www/ckan/development.ini' liipadmin
ExecReload=/bin/kill -HUP $MAINPID
Environment=LANG=en_US.UTF-8
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=ckanfetch.service
